.hp {background-color: rgb(79, 141, 71);}
.atk {background-color: rgb(209, 207, 70);}
.def {background-color: rgb(187, 110, 59);}
.sp_def {background-color: rgb(54, 46, 172);}
.sp_atk {background-color: rgb(51, 169, 180);}
.speed {background-color: rgb(132, 45, 158);}