@media(max-width:1280px) {
    .logo-pokemon {
        width: 50rem;
    }
    
    .pokedex-name {
        font-size: 4rem;
        margin-left: 10%;
    }

    .search {
        margin-left: 10%;
    }

    .search input[type=search] {
        width: 70vw;
        padding: 0.2rem;
    }

    .generation-title {
        font-size: 1.5rem;
    }
    
    .search .generation-container .generation_button_container button {
        font-size: 1.6rem;
    }
}

@media(max-width:1024px) {
    .search input[type=search] {
        width: 70vw;
    }

    .generation-title {
        font-size: 1.4rem;
    }
    
    .search .generation-container .generation_button_container button {
        font-size: 1.5rem;
    }
}

@media(max-width:768px) {
    .logo-pokemon  {
        margin-top: 1rem;
    }
    
    .home h1 {
        font-size: 4rem;
        margin-top: 1rem;
    }

    .home p {
        font-size: 1.8rem;
    }

    .home .pokeball {
        width: 80%;
        margin-top: 2rem;
    }

    .pokedex-name {
        font-size: 4rem;
    }

    .search input[type=search] {
        width: 70vw;
    }

    .generation-title {
        font-size: 1.4rem;
    }
    
    .search .generation-container .generation_button_container button {
        font-size: 1.4rem;
    }
}

@media(max-width: 640px) {
    .logo-pokemon {
        width: 25rem;
        margin: 0 1rem 0 0;
    }

    .home h1 {
        font-size: 4rem;
        margin-top: 1rem;
    }

    .home p {
        font-size: 1.5rem;
    }

    .home .pokeball {
        width: 100%;
        margin-top: 2rem;
    }
       
    .search input[type=search] {
        width: 70vw;
    }
}

@media(max-width: 390px) {
    .logo-pokemon {
        width: 15em;
        margin-top: -3em;
    }

    .home h1 {
        font-size: 2.5rem;
        margin-top: 4rem;
    }

    .home p {
        font-size: 1.2em;
    }

    .home .pokeball {
        width: 22rem;
        margin-top: 5rem;
    }

    .pokedex-name {
        font-size: 1.8rem;
        margin-left: -0.5rem;
    }

    .search {
        margin: 0 auto;
    }

    .search input[type=search] {
        width: 60vw;
    }

    .search .generation-container .generation_button_container button {
        font-size: 1.2rem;
        margin-left: -0.5rem;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
    }

    .pokemon_card {
        width: 17em;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 320px) {
    .logo-pokemon {
        width: 15em;
        margin-top: -3em;
    }

    .home h1 {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .home p {
        font-size: 1.2em;
    }

    .home .pokeball {
        width: 25rem;
        margin-top: 5rem;
    }

    .pokedex-name {
        font-size: 2rem;
        margin-left: -0.5rem;
    }

    .search {
        margin: 0 auto;
    }

    .search input[type=search] {
        width: 85vw;
    }

    .generation-title {
        font-size: 1.2rem;
    }
    
    .search .generation-container .generation_button_container button {
        font-size: 1.2rem;
        margin-left: -0.5rem;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
    }
}