@import url('../css/_reset.css');
@import url('../css/_global.css');
@import url('../css/components/_home.css');
@import url('../css/components/_search.css');
@import url('../css/components/_cards.css');
@import url('../css/components/_colors.css');
@import url('../css/components/_responsive.css');
@import url('../css/components/_footer.css');
